@import url(./reset.css);

:root{
    --primary-color : #e50914;
    --primary-hover-color: #00eeff;
    --font-color: #fff;
    --about-text-color: #4b5563;
}
body{
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.home{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0.6) 100%), url('./images/background-home.jpg');
    position: relative;
}

nav{
    height: 6rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
}
nav a{
    text-decoration: none;
    color: var(--font-color);
    font-size: 2rem;
}


nav .left{
    flex: 70%;
    justify-content: center;
    justify-content: center;
   
    
}
nav .right{
    flex: 30%;
    display: flex;
    justify-content: space-around;
  
    
}
nav a:hover{
    color: var(--primary-hover-color);
}
nav .left a{
    padding-left: 2rem;
}
nav .right a{
    padding-right: 2rem;
}
.right a:active{
    color: var(--primary-hover-color);
}

.home-main{
    display: flex;
    height: 70vh;
    flex-direction: column;
    justify-content: center;
    margin-left: 5rem;
    
}
.my-details{
    color: var(--font-color);
    font-size: 3rem;
   
   
}

.my-details .name{
    color: red;
    font-size: 3.5rem;
   
}
.typewriter{
    height: 3rem;
    width: 100%;
}

.auto-type{
    height: 3rem;
   
    
}

.auto-type span{
    position: relative;
    width: 100%;
    font-size: 3rem;
    color: #0ef;
    text-shadow: 0 0 10px #0ef;
    animation: colorful 3s infinite;  
    
}

.auto-type span::after{
    content: "|";
    width: 2px;
    right: -8px;
    animation: blink 0.7s infinite;
   
  

}




@keyframes blink {
    50%{
        opacity: 0;
    }
}

@keyframes colorful{
    100%{
        filter: hue-rotate(360deg);
    }
}


.my-image-main{
    position: absolute;
    right: 15rem;
    top: 50%;
    transform: translateY(-50%);
    
}

.changepage-button{
    background: transparent;
    color: var(--font-color);
    height: 48px;
    width: 48px;
    border-radius: 9999px;
    transition: width 0.5s ease;
    animation:circle-bounce 2s infinite;
    cursor: pointer;
    border: 2px solid var(--font-color);
}
.nextpage-button{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 4rem;
}
.previouspage-button{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 4rem;
}
.changepage-button:hover{
    animation: none;
    border: 2px solid var(--primary-hover-color);

}

@keyframes circle-bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      width:48px
    }
    40% {
      width:78px
    }
    60% {
      width:58px
    }
  }







  footer .social-icon{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
  }
  footer a{
    flex: left;
    font-size: 2rem;
    color: var(--font-color);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  footer a:hover{
    color: var(--primary-hover-color);
  }



  /* About page */
 
  .about{
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0.6) 100%), url('./images/about-bg.webp');
    position: relative;
   
  
  }
  .about-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    
  }
 .about main{
    width: 60%;
    align-items: center;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px;
    border-radius: 1rem;
 }
 .about-head{
    margin-bottom: 1rem;
 }
 .about-head h1{
    color: var(--about-text-color);
    font-size: 6rem;
    line-height: 1;
    font-weight: 800;
    margin-bottom: 1rem;
 }
.about-my-disc p{
    color: rgb(56, 61, 66);
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 1rem;
}


 .about-content hr{
    background-color: var(--about-text-color);
    height: 5px;
    margin: 1rem 0 2rem;
 }
 .technical-specs h2, .brief-history h2{
    font-size: 3rem;
    line-height: 1;
    color: var(--about-text-color);
    font-weight: 700;
 }
 .technical-specs, .brief-history{
    margin-bottom: 1rem;
 }
.technical-speces p, .brief-history p{
    color: rgb(56, 61, 66);
    font-size: 1.25rem;
    line-height: 1.75rem;
}
 

/* Contact page */
.contact{
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0.8) 100%), url('./images/contact-bg.webp');
    position: relative;
    height: 100vh;
}


.contact-content{
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
.contact-content main{
  width: 70%;
 

  display:flex;
 justify-content: space-between;
 gap: 10rem;
}
.contact-me{
    flex: 15%;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1rem 2rem;
    border-radius: 1rem;
}
.contact-me h2{
    text-align: center;
    font-size: 3rem;
    line-height: 1;
    font-weight: 800;
    color: var(--about-text-color);
    margin-bottom: 1rem;
}
.my-contact-details{
    flex: 15%;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px;
    border-radius: 1rem;
}

#contact-form{
    display: flex;
    flex-direction: column;
   
}
#contact-form input, #contact-form textarea{
    margin: 0.2rem 2rem;
    line-height: 2.5rem;
    border: none;
    outline: none;
    background-color: var(--about-text-color);
    color: var(--font-color);
    padding-left: 1rem;
}
#contact-form textarea{
    height: 5rem;
}
#contact-form input:focus, #contact-form textarea:focus{
    border: 2px solid var(--primary-hover-color);
}


#contact-form input::placeholder,
#contact-form textarea::placeholder {
    color: var(--font-color);
    font-size: 1rem;
    
    
}
#contact-form button{
    background: linear-gradient(270deg, #ff994f, #fa6d86);
    line-height: 2rem;
    width: 7rem;
    align-self: flex-end;
    margin-right: 2rem;
    color: var(--font-color);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.footer-contact{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.footer-contact div{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}
.row2{
  width: 40%;
    
}
.row3{
    width: 75%;
}



  .footer-contact a{
    font-size: 2.5rem;
    color: var(--font-color);
    box-sizing: border-box;
  }

 
  .footer-contact a:hover{
    color: var(--primary-hover-color);
  }
  .refresh-to-home{
    width: 3rem;
    height: 3rem;
    border: 2px solid white;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 100;
  }
  .refresh-to-home:hover{
    border-color: var(--primary-hover-color);
  }
  @keyframes rotateSlowly {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.refresh-to-home:hover .fa-arrows-rotate {
    animation: rotateSlowly 1s linear infinite;
}
  .refresh-to-home i{
    font-size: 2rem;
    
  }




  /* Work page */
  .work{
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0.8) 100%), url('./images/work-bg.jpeg');
    position: relative;
  }

  .work-content{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .work-content main{
    width: 60%;
    height: 100vh;
    align-items: center;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px;
    border-radius: 1rem;
  }
  .work-content main h1{
    color: var(--about-text-color);
    font-size: 6rem;
    line-height: 1;
    font-weight: 800;
    margin-bottom: 1rem;
  }

